body {
  background: #ffe9f0;
  font-family: "Georgia", cursive;
  text-align: center;
}

h1 {
  margin: 30px;
  color: #ff2e88;
  font-family: Poppins;
}

.scroll {
  width: 500px;
  margin: auto;
  background: #fff8dc;
  padding: 40px;
  border-radius: 20px;
  border: 4px solid #d4af37;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
  font-family: "Brush Script MT", cursive;
}
