body {
  font-family: Poppins, sans-serif;
  background: linear-gradient(to bottom right, #ffe4ec, #ffb6c1);
  text-align: center;
  padding: 50px;
}

h1 {
  font-size: 2.8rem;
  color: #ff2e88;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 60px;
}

.card {
  width: 200px;
  height: 180px;
  background: white;
  border-radius: 25px;
  box-shadow: 0 8px 20px rgba(255, 0, 100, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.1);
}
